@import './vendors/modern-normalize.min', './vendors/fonts';

@import './utils/variables';
@import './utils/visually-hidden';

@import './base/reset', './base/base';

@import './components/logo', './components/buttons', './components/social';

@import './layout/page-header', './layout/site-nav', './layout/contact-nav';

@import './layout/hero', './layout/backdrop', './layout/modal', './layout/modal-form';

@import './layout/feature';

@import './layout/works';

@import './layout/team';

@import './layout/clients';

@import './layout/portfolio-filter', './layout/portfolio-product';

@import './layout/page-footer', './layout/contacts', './layout/footer-social-links',
  './layout/subscribe';
