.contact-nav {
  @media screen and(max-width: ($tablet - 1px)) {
    margin-bottom: 64px;
  }

  @media screen and(min-width: $tablet) {
    margin-left: auto;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    align-items: center;
  }

  &__item {
    @media screen and (min-width: $tablet) and (max-width: ($desktop - 1px)) {
      height: 14px;
    }
  }

  &__item:not(:last-child) {
    @media screen and (max-width: ($tablet - 1px)) {
      margin-bottom: 32px;
    }
    @media screen and (min-width: $tablet) and (max-width: ($desktop - 1px)) {
      margin-bottom: 10px;
    }
    @media screen and (min-width: $desktop) {
      margin-right: 50px;
    }
  }
  &__icon {
    @media screen and(max-width: ($tablet - 1px)) {
      display: none;
    }

    display: block;
    margin-right: 10px;
    fill: currentColor;
  }

  &__item:first-child &__link {
    @media screen and(max-width: ($tablet - 1px)) {
      font-size: 34px;
      color: $accent-color-primary;
    }
  }

  &__link {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17px;
    letter-spacing: 0.02em;
    color: $text-color-primary;

    @media screen and(min-width: $tablet) {
      display: flex;
      align-items: center;

      font-size: 12px;

      transition: color $trans-time $trans-cb;

      color: $text-color-primary;

      &:hover,
      &:focus {
        color: $accent-color-primary;
      }
    }

    @media screen and (min-width: $desktop) {
      padding-top: 32px;
      padding-bottom: 32px;
      font-size: 14px;
    }
  }
}
