.contacts {
  font-style: normal;
  @media screen and (max-width: ($tablet - 1px)) {
    margin-bottom: 60px;
  }

  &__address {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 9px;
    color: $text-color-white;
  }

  &__list {
    text-align: center;

    @media screen and (min-width: $desktop) {
      text-align: left;
    }
  }

  &__link {
    margin-bottom: 9px;

    color: rgba(255, 255, 255, 0.6);
    display: inline-block;
    margin-bottom: 9px;

    text-align: center;

    &:hover,
    &:focus {
      color: $accent-color-primary;
    }
  }
}
