.contacts {
  font-style: normal;

  &__address {
    display: inline-block;
    margin-top: 0;
    color: $text-color-white;
  }

  &__list {
    text-align: center;

    @media screen and (min-width: $desktop) {
      text-align: left;
    }
  }

  &__item:not(:last-child) {
    margin-bottom: 8px;

    @media screen and (min-width: $desktop) {
      margin-bottom: 8px;
    }
  }
  &__link {
    color: rgba(255, 255, 255, 0.6);
    display: inline-block;

    text-align: center;

    &:hover,
    &:focus {
      color: $accent-color-primary;
    }
  }
}
