.feature {
  &__list {
    display: flex;
  }

  &__item {
    width: calc((100% - 90px) / 4);

    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  &__icons-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    height: 120px;
    border-radius: 4px;
    background-size: 70px 70px;
    background-color: #f5f4fa;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 10px;

    font-weight: 700;
    line-height: 1.14;
    font-size: 14px;
    text-transform: uppercase;

    color: $text-color-title;
  }

  &__text {
    margin-top: 0;
    margin-bottom: 0;
  }
}
