.hero {
  position: relative;
  padding-top: 118px;
  padding-bottom: 118px;
  margin-left: auto;
  margin-right: auto;
  height: 400px;

  @media screen and (min-width: $desktop) {
    padding-top: 200px;
    padding-bottom: 200px;
    height: 600px;
  }

  background-color: $accent-color-secondary;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero/hero-bg-mobile-min.jpg);

  @media screen and (min-device-pixel-ratio: 2), (min-resolution: 192px), (min-resolution: 2dppx) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/hero-bg-mobile2x-min.jpg);
  }

  @media screen and (min-width: ($mobile + 1px)) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/hero-bg-tablet-min.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192px),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero/hero-bg-tablet2x-min.jpg);
    }
  }

  @media screen and (min-width: ($tablet + 1px)) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/hero-bg-desktop-min.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192px),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero/hero-bg-desktop2x-min.jpg);
    }
  }

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &__title {
    max-width: 360px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 30px;

    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: $text-color-white;

    @media screen and (min-width: $desktop) {
      max-width: 700px;
      font-size: 44px;
      line-height: 1.36;
    }
  }
}
