.modal {
  position: absolute;
  padding: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  min-height: 581px;
  min-width: 528px;

  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform $trans-time $trans-cb, opacity $trans-time $trans-cb;

  &__title {
    display: block;
    margin-bottom: 12px;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    color: $text-color-title;
  }

  .backdrop--is-hidden & {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.8);
  }
}
