.page-header {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #ececec;

  &__logo {
    color: $text-color-black;
  }

  &__container {
    display: flex;
    align-items: center;

    @media screen and(max-width: ($tablet - 1px)) {
      justify-content: space-between;
      padding-top: 10px;
      padding-bottom: 10px;
    }

    @media screen and(min-width: $tablet) {
      // padding-top: 21px;
      // padding-bottom: 21px;
    }
  }
}

.header-nav {
  display: flex;
  align-items: center;
}
@media screen and(max-width: ($tablet - 1px )) {
  .header-nav,
  .contact-nav {
    display: none;
  }
}
