.page-footer {
  background-color: $accent-color-secondary;

  &__container {
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and(min-width: $desktop) {
      display: flex;
      justify-content: center;
      align-items: baseline;
    }
  }
  @media screen and(min-width: $tablet) {
    &__logo-adress-social-wrapper {
      display: flex;
      align-items: baseline;
      justify-content: center;
      margin-bottom: 60px;
    }
  }

  &__logo {
    margin-top: 0;
    margin-bottom: 20px;
    color: $text-color-white;
    text-align: center;
  }

  &__title {
    display: block;
    margin-bottom: 20px;

    font-weight: 700;
    line-height: 1.14;
    // line-height: 1.42;

    text-align: center;
    text-transform: uppercase;
    color: $text-color-white;

    @media screen and (min-width: $desktop) {
      text-align: left;
    }
  }
}
