.page-footer {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $accent-color-secondary;

  &__container {
    display: flex;
    align-items: baseline;
    justify-content: center;
  }
  &__title {
    display: block;
    margin-bottom: 20px;

    font-weight: 700;
    line-height: 1.42;

    text-transform: uppercase;
    color: $text-color-white;
  }
}
