.site-nav {
  @media screen and(max-width: ($tablet - 1px)) {
    margin-bottom: 302px;
  }

  @media screen and(min-width: $tablet) {
    display: flex;
    margin-left: 88px;
  }

  // margin-left: 93px;
}
.site-nav__item:not(:last-child) {
  @media screen and(max-width: ($tablet - 1px)) {
    margin-bottom: 32px;
  }

  @media screen and(min-width: $tablet) {
    margin-right: 50px;
  }
}

.site-nav__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;

  @media screen and(min-width: $tablet) {
    display: inline-flex;
    padding-top: 32px;
    padding-bottom: 32px;

    align-items: center;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }

  transition: color $trans-time $trans-cb;
  position: relative;
  color: $text-color-title;

  &:hover,
  &:focus {
    color: $accent-color-primary;
  }
}

.site-nav__link--current {
  color: $accent-color-primary;

  @media screen and(min-width: $tablet) {
    &::after {
      content: '';
      position: absolute;
      display: block;
      width: 100%;
      height: 4px;
      left: 0;
      bottom: -1px;
      background-color: $accent-color-primary;
      border-radius: 2px;
    }
  }
}
