.subscribe {
  @media screen and (min-width: $desktop) {
    margin-left: auto;
  }

  &__form {
    @media screen and (min-width: $desktop) {
      display: flex;
    }
  }
  &__label {
    display: block;
    @media screen and (max-width: ($desktop - 1px)) {
      margin-bottom: 20px;
    }
    @media screen and (min-width: $desktop) {
      margin-right: 12px;
    }
  }
  &__input {
    width: 100%;
    @media screen and (min-width: $tablet) {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 450px;
    }

    height: 50px;
    padding: 15px 16px;

    @media screen and (min-width: $desktop) {
      width: 358px;
    }

    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;

    color: $text-color-white;
    background-color: $accent-color-secondary;

    &::placeholder {
      display: flex;
      align-items: center;

      @include font($fs: 16px, $lh: 1.25, $ls: 0.03em);

      color: rgba(255, 255, 255, 0.6);
    }
  }
}
