.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;

  border-radius: 4px;
  border: none;
  outline: none;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;

  background-color: $accent-color-primary;
  color: $text-color-white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  cursor: pointer;

  transition: background-color $trans-time $trans-cb;

  &:hover,
  &:focus {
    background-color: $button-hover-color;
  }
}

.button__icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: $text-color-white;

  &--start {
    margin-right: 10px;
  }
  &--end {
    margin-left: 10px;
  }
}

.button-close {
  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;
  background: #ffffff;
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;

  cursor: pointer;
}
.button-close__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  fill: currentColor;
}
