.social {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  &__item:not(:last-child) {
    margin-right: 10px;
  }

  &__tumb {
    width: 44px;
    height: 44px;
    padding: 12px;
    border-radius: 50%;
  }
}
