body {
  font-family: $main-fonts;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;

  background-color: $text-color-white;
  color: $text-color-primary;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
  color: inherit;
}

.icon {
  fill: currentColor;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;

  @media screen and(min-width: $mobile) {
    width: $mobile;
  }

  @media screen and(min-width: $tablet) {
    width: $tablet;
  }

  @media screen and(min-width: $desktop) {
    width: $desktop;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and(min-width: $desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  &-title {
    margin-top: 0;
    margin-bottom: 30px;

    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;

    text-align: center;

    color: $text-color-title;

    @media screen and(min-width: $desktop) {
      font-size: 36px;
      margin-bottom: 50px;
    }
  }
}
