body {
  font-family: $main-fonts;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;

  background-color: $text-color-white;
  color: $text-color-primary;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

.icon {
  fill: currentColor;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;

  &-title {
    margin-top: 0;
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.67;
    text-align: center;

    color: $text-color-title;
  }
}
