$text-color-primary: #757575;
$text-color-title: #212121;

$text-color-white: #ffffff;
$text-color-black: #000000;

$accent-color-primary: #2196f3;
$accent-color-secondary: #2f303a;

$button-hover-color: #188ce8;

$placeholder-color: rgba(117, 117, 117, 0.5);

$trans-cb: cubic-bezier(0.4, 0, 0.2, 1);
$trans-time: 250ms;
$portfolio-set-gap: 30px;

$main-fonts: Roboto, sans-serif;
$logo-fonts: Raleway, sans-serif;
